.pio/
.vstags
.vscode/
SquareLineStudio_sources/backup/
SquareLineStudio_sources/assets/ui_font_*.bin
SquareLineStudio_sources/assets/*.ttf
SquareLineStudio_sources/autosave/
SquareLineStudio_sources/*_events.py
client/src/ui/CMakeLists.txt
client/src/ui/filelist.txt
client/include/secrets.h
local/
